name: Security Checks
on:
 push:
 branches:
 - main
 pull_request:
 branches:
 - main
jobs:
 security:
 runs-on: ubuntu-latest
 steps:
 - name: Checkout code
 uses: actions/checkout@v4
 - name: Set up JDK 11
 uses: actions/setup-java@v4
 with:
 distribution: 'adopt'
 java-version: '11'
 - name: Run Security Scan
 run: |
 curl -LO
https://github.com/jeremylong/DependencyCheck/releases/download/v6.5.3/dependency-check-6.5.3-release.zip
 unzip dependency-check-6.5.3-release.zip
 ./dependency-check/bin/dependency-check.sh --
project JavaSecurityCheck --scan ./ --format HTML --out
report --disableAssembly -v
 - name: Upload Report
 uses: actions/upload-artifact@v3
 with:
 name: security-report
 path: report
